.card-produto {
    background-color: #A9D3FF;
    padding: 20px;
    margin: 1.5vh 0;
    border-radius: 10px;
    min-width: 20vw;
}

.imagem-produto {
    background-color: white;
    padding: 10px;
}

.imagem-produto img {
    height: 40vh;
    object-fit: contain;
    width: auto;
}

.descricao-produto {
    padding-top: 10px;
    min-height: 20vh;
}

.botoes-produto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}